<mat-card-custom>
  <mat-card-header>
    <mat-card-title>Opciones del encuentro</mat-card-title>
    <mat-card-subtitle>
      De click sobre el icono<mat-icon> more_vert </mat-icon>
      ubicado en la parte superior derecha de cada oponente para ver las
      opciones disponibles.
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-dialog-content>
      <app-info-encabezado-match
        [itemBracketsSelect]="itemBracketsSelect"
        (cambiarCompetidor)="onCambiarCompetidor($event)"
        (declararGanador)="onDeclararGanador($event)"
      ></app-info-encabezado-match>

      <div class="row">
        <app-info-oponentes-2
          [customOpponents]="itemBracketsSelect()?.customOpponents ?? []"
        ></app-info-oponentes-2>
      </div>
    </mat-dialog-content>
  </mat-card-content>

  <mat-card-actions class="custom-actions">
    <button mat-button (click)="cerrar()">Cerrar</button>
  </mat-card-actions>
</mat-card-custom>
