<mat-card-custom>
  <mat-card-header>
    <mat-card-title>Opciones del match</mat-card-title>
    <mat-card-subtitle>
      Se muestran las diferentes opciones que existen para el match seleccionado
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>

    <mat-dialog-content>
      <mat-accordion multi>
        @for (item of itemBracketsSelect()?.customOpponents; track $index; let i = $index) {
          <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
              <mat-panel-title> Oponente {{ i + 1 }} </mat-panel-title>
              <mat-panel-description>
                {{ item?.match?.name }} - {{ item?.match?.result }}
              </mat-panel-description>
            </mat-expansion-panel-header>

            <section>
              <div>
                @if (!existeGanador()) {
                  <button mat-flat-button color="primary"
                          (click)="onAsignarCompetidor(item, i)">
                    Asignar competidor
                  </button>
                }
                <button mat-flat-button color="primary"
                        (click)="onCambiarCompetidor(item)">
                  Cambiar competidor
                </button>
              </div>
            </section>
          </mat-expansion-panel>
        }
      </mat-accordion>
    </mat-dialog-content>
  </mat-card-content>

  <mat-card-actions class="custom-actions">
    <button mat-button (click)="cerrar()">Cerrar</button>
  </mat-card-actions>
</mat-card-custom>
