<mat-card-custom>
  <mat-card-header>
    <mat-card-title>Emparejamiento</mat-card-title>
    <mat-card-subtitle>Se realiza el emparejamiento de los competidores</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class="custom-content">
    @for (item of tournamentsData(); track item.miTorneo.stage.tournamentId) {
      <app-gestion-torneo
        [torneoId]="item.miTorneo.stage.tournamentId"
        [torneoData]="item">
      </app-gestion-torneo>
    }
  </mat-card-content>

  <mat-card-actions class="custom-actions">
  </mat-card-actions>
</mat-card-custom>
