<mat-card-custom>
  <mat-card-header>
    <mat-card-title>Emparejamiento</mat-card-title>
    <mat-card-subtitle>Se realiza el emparejamiento de los competidores</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class="custom-content">

    <div id="bracket1" class="brackets-viewer"></div>

    <br>
    -------------------------------------
    <br>
    <div id="bracket2" class="brackets-viewer"></div>

  </mat-card-content>

  <mat-card-actions class="custom-actions">

  </mat-card-actions>
</mat-card-custom>
