<mat-card-custom>
  <mat-card-header>
    <mat-card-title>Emparejamiento</mat-card-title>
    <mat-card-subtitle>Se realiza el emparejamiento de los competidores</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class="custom-content">
    <div *ngFor="let item of tournamentsData; let i = index">
      <app-gestion-torneo [torneoId]="item.dataCreate.stage.tournamentId" [torneoData]="item"></app-gestion-torneo>
    </div>
  </mat-card-content>

  <mat-card-actions class="custom-actions"> </mat-card-actions>
</mat-card-custom>
