<div [id]="torneoId" class="brackets-viewer"></div>

<br />

<button #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu1" [ngStyle]="{
    position: 'fixed',
    top: menuTopLeft.y,
    left: menuTopLeft.x,
    opacity: 0,
    pointerEvents: 'none'
  }"></button>

<mat-menu #menu1="matMenu" yPosition="above" xPosition="after" [overlapTrigger]="false" class="custom-menu-panel">
  <div class="menu-content" (click)="$event.stopPropagation()">
    <mat-accordion multi>
      <mat-expansion-panel *ngFor="let item of this.itemBracketsSelect?.customOpponents; let i = index"
        expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title> Oponente {{ i + 1 }} </mat-panel-title>
          <mat-panel-description>
            {{ item?.name }} - {{ item?.result }}
          </mat-panel-description>
        </mat-expansion-panel-header>

        <section>
          <div>
            @if(!existeGanador()){
            <button mat-flat-button color="primary" (click)="onAsignarCompetidor(item, i)">Asignar
              competidor</button>
            }

            <button mat-flat-button color="primary" (click)="onCambiarCompetidor(item, i)">Cambiar competidor</button>

          </div>
        </section>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</mat-menu>
