/* Estilos para los cinturones compactos */
.cinturon-badge {
  padding: 2px 6px !important;
  border-radius: 8px !important;
  font-size: 11px !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
  display: inline-block !important;
  height: 15px !important;
  width: 100% !important;
}

.cinturon-blanco {
  background-color: #f5f5f5 !important;
  border: 2px solid #dadada !important;
}

.cinturon-amarillo {
  background-color: #ffc508 !important;
}

.cinturon-verde {
  background-color: #34a74f !important;
}

.cinturon-azul {
  background-color: #1b61bd !important;
}

.cinturon-rojo {
  background-color: #ee2334 !important;
}

.cinturon-negro {
  background-color: #000000 !important;
}

.cinturon-null {
  background-color: #d6d8db !important;
}
