.custom-content {
  padding-top: 20px !important; /* espacio superior */
  padding-bottom: 25px !important; /* espacio inferior */
}

.custom-actions {
  display: flex;
  gap: 12px; /* espacio uniforme entre botones */
  justify-content: flex-end; /* alinea a la derecha */
  padding-bottom: 20px !important; /* espacio inferior */
}

.icon-close-modal {
  position: absolute !important;
  top: 0px !important;
  right: 0px !important;
  z-index: 10 !important;
  color: #000000 !important;
}
