<mat-card-custom>
  <mat-card-header>
    <mat-card-title>Cambiar competidor</mat-card-title>
    <mat-card-subtitle>Se realiza el cambio del oponente seleccionado</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-dialog-content>
      <strong>{{ competidorAntiguo()?.bracket?.name }}</strong>
      <br /><br />

      @for (item of competidoresRonda(); track item.bracket.id) {
        {{ item?.bracket?.name }}<br />
      }
    </mat-dialog-content>
  </mat-card-content>

  <mat-card-actions class="custom-actions">
    <button mat-button (click)="cerrar()">Cerrar</button>
  </mat-card-actions>
</mat-card-custom>
