<mat-card-custom>
  <mat-card-header class="custom-card-header opponent-card" [ngClass]="'card-cinturon-' + (competidorAntiguo?.persona?.cinturon?.toLowerCase() || 'null')">
    <app-close-modal-button (close)="cerrar()"> </app-close-modal-button>

    <mat-card-title class="text-center">{{ competidorAntiguo?.bracket?.name }}</mat-card-title>
    <mat-card-subtitle class="pt-1 pb-1">
      <app-info-oponentes-1 [persona]="competidorAntiguo?.persona ?? null"></app-info-oponentes-1>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-dialog-content>
    <p>
      <strong>Instrucciones:</strong><br />
      • Seleccione una fila para elegir al nuevo participante.<br />
      • Ordene por peso, altura o edad haciendo click en los encabezados de
      columna.
    </p>

    <mat-divider class="divider-spacing"></mat-divider>
    <br />

    <div class="mat-elevation-z8 table-responsive">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="competidor">
          <th mat-header-cell *matHeaderCellDef>Nombre</th>
          <td mat-cell *matCellDef="let row">{{ row?.bracket?.name }}</td>
        </ng-container>

        <ng-container matColumnDef="cinturon">
          <th mat-header-cell *matHeaderCellDef>
            <mat-icon>sports_martial_arts</mat-icon> <br />
          </th>
          <td mat-cell *matCellDef="let row">
            <span class="info-value-compact cinturon-badge"
              [ngClass]="'cinturon-' + row?.persona?.cinturon?.toLowerCase()">
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="peso">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="info-label-small">
            Peso <br />(kg)
          </th>
          <td mat-cell *matCellDef="let row">{{ row?.persona?.peso }}</td>
        </ng-container>

        <ng-container matColumnDef="altura">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="info-label-small">
            Altura <br />(cm)
          </th>
          <td mat-cell *matCellDef="let row">{{ row?.persona?.altura }}</td>
        </ng-container>

        <ng-container matColumnDef="edad">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="info-label-small">
            Edad
          </th>
          <td mat-cell *matCellDef="let row">
            {{ getEdad(row?.persona?.fechaNacimiento ?? null) }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row matRipple *matRowDef="let row; columns: displayedColumns"
          [ngClass]="'fila-cinturon-' + (row?.persona?.cinturon?.toLowerCase() || 'null')"
          (click)="onCambiarCompetidor(row)">
        </tr>


      </table>
    </div>
  </mat-dialog-content>
</mat-card-custom>
