<mat-card-custom>
  <mat-card-header>
    <app-close-modal-button (close)="cerrar()"> </app-close-modal-button>

    <mat-card-title>Detalle del encuentro</mat-card-title>
    <mat-card-subtitle>
      Se visualiza la información de los competidores
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-dialog-content>
      <app-info-encabezado-match [itemBracketsSelect]="itemBracketsSelect"></app-info-encabezado-match>

      <div class="row">
        <app-info-oponentes-detalle
          [customOpponents]="itemBracketsSelect()?.customOpponents ?? []"></app-info-oponentes-detalle>
      </div>
    </mat-dialog-content>
  </mat-card-content>
</mat-card-custom>
